<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
</head>

<body>
    <h1> Materiales </h1>

    <% for(let i=0;i<material.length ; i++){ %>
        <p>
            <%= material[i] %>
        </p>
        <%}%>
</body>

</html>